body, html {
    height: 100%;
    margin: 0;
  }

.login-container {
    min-height: 100vh;
    background-image: url('../assets/background.jpg'); /* Adjust the path if necessary */
    background-size: cover;
    background-position: center;
    background-attachment: fixed; /* Keeps background fixed while scrolling */
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .login-card {
    max-width: 400px;
    background-color: transparent;
    color: white;
    margin: 0 auto; /* Center horizontally */
  }

  
